* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/img/background.png");
    margin: 0;
}

header {
    padding: 0px 14px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}

.flex {
    display: flex;
}

.lader {

    width: 100%;

}

.menu {

    justify-content: right;
    flex-direction: column;
    width: 100%;

}

.menu__top {
    align-items: center;
    justify-content: space-evenly;

}

.menu__top__ul {
    width: 100%;
    justify-content: right;
    flex-direction: row;
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu__top__buttons {
    width: 100%;
    align-items: center;
}

.menu__top__item {
    padding: 0 20px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    justify-content: center;
    flex-direction: column-reverse;
    margin: 10px 35px;
}

.barra {
    background-color: black;
    height: 1px;
}

.menu__bot {
    width: 100%;

}

.menu__bot__item {
    padding: 12px 20px;
    position: relative;

}

.menu__bot__item:hover {
    background-color: rgb(250, 234, 214, 0.5);
    border-radius: 20px;

}

.menu__top__item:hover {
    background-color: rgb(250, 234, 214, 0.5);
    border-radius: 20px;
}

.menu__extend__item:hover {
    background-color: rgb(250, 234, 214, 0.7);
    border-radius: 20px;
}

.menu__extend {
    display: none;
    position: absolute;
    background-color: rgb(201, 201, 201, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 6px 10px;
    left: 0;
    top: 52px;
    z-index: 10;
}

.menu__extend__item {
    padding: 10px 10px;
    font-size: 0.9em;
}

.menu__bot__item:hover>.menu__extend {
    display: block;

}

.menu__bot__item button {
    font-size: 1.1em;
    font-family: 'Saira', sans-serif;
    background-color: transparent;
    border: none;
}

.menu__bot__item a {
    font-size: 1.1em;
    font-family: 'Saira', sans-serif;
    background-color: transparent;
    border: none;
}

.menu__top__item a {
    font-size: 0.9em;
    font-family: 'Saira', sans-serif;
    background-color: transparent;
    border: none;
    align-items: center;
}

.menu__top__item button {
    font-size: 1.1em;
    font-family: 'Saira', sans-serif;
    background-color: rgb(250, 234, 214, 0.5);
    border-radius: 30%;
    border: none;
    padding: 0px 10px;
}

.menu__bot__ul {

    justify-content: right;
    flex-direction: row;
    align-items: center;
}

input[type=text] {
    height: 30px;
    background-image: url(/img/search.png);
    border: none;
    background-color: rgb(207, 151, 66, 0.22);
    background-repeat: no-repeat;
    background-position: right;
    font-size: 1.1em;
    font-family: 'Saira', sans-serif;
    padding: 20PX;
    border-radius: 40px;
}

.search__bar {
    padding: 10px 10px;
    height: 100%;

}

/* --------------------------------------------------------------------- */
.banner {
    width: 100%;
    flex-direction: column;
    position: relative;

}

.img__banner {
    z-index: 1;
    object-fit: fill;
    height: 730px;
}


.texto {
    position: absolute;
    z-index: 2;
    bottom: 70px;
    left: 120px;


}

.titulo__banner {
    font-size: 5em;
    font-family: 'Roboto', sans-serif;
    color: #799936;
    margin-bottom: 2%;
}

.subtexto__banner {

    font-family: 'Saira', sans-serif;
    color: #4D5739;
    font-size: 2em;
}

.features{
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.img__feat {
    z-index: 1;
    height: 500px;
    width: 100%;
}
.features__item{
    width: 33.3%;
    position: relative;
}
.info {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 1.3em;
    padding: 0 0 0 0;
    text-align:center;
    
  }
  .features__item:hover .info {
    opacity: 1;
  }
  h2{
      padding-top: 30%;
    font-family: 'Roboto', sans-serif;

  }
  p{
      padding: 40px 30px 0 30px;
      font-family: 'Saira', sans-serif;

  }
  .disponibilidad{
background-color: rgb(121, 153, 54, 0.5);
flex-direction: row;
width: 100%;
height: 500px;
  }