

@media all and (max-width: 1300px) {
    .product {
        background-color: rgba(17, 44, 10, 0.2);
        width: 60%;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 30px;
        border-radius: 30px;

    }

    .mision__text {
        text-align: center;
        padding: 50px 50px;
        font-size: 1.4em;
        font-family: 'Saira', sans-serif;
    }

    .sub__mision {
        margin: 20px 0px;
        flex-direction: column;
        background-color: rgb(250, 234, 214, 0.3);
        border-radius: 10px;
        align-items: center;
        width: 80%;
    }

    .disp__text {
        width: 50%;
        font-size: 1.7em;
        font-family: 'Saira', sans-serif;
    }
    .fetures__item__text {
        display: none;
        padding: 40px 30px 0 30px;
        font-family: 'Saira', sans-serif;
    }
    h2 {
        padding-top: 70%;
        font-family: 'Roboto', sans-serif;
    }
}
@media all and (max-width: 900px) {
    .menu {
        display: none;
    }

    .lader {
        justify-content: space-between;
    }

    .menuR {
        display: block;
        justify-content: right;
        padding: 30px;
        width: 100px;
    }

}

@media all and (max-width: 770px) {
    .product {
        background-color: rgba(17, 44, 10, 0.2);
        width: 80%;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
        align-items: center;
        padding: 30px;
        border-radius: 30px;

    }
    .sub__mision {
        margin: 10px 0px;
        flex-direction: column;
        background-color: rgb(250, 234, 214, 0.3);
        border-radius: 10px;
        align-items: center;
        width: 90%;
    }
    .disponibilidad__title {
        font-family: 'Sarpanch', sans-serif;
        font-size: 2.7em;
        text-align: center;
    }
    .disponibilidad__content {
        width: 100%;
        margin: 50px;
        flex-direction: column;
      align-items: center;
    }
    .disp__text {
        text-align: center;
        width: 70%;
        font-size: 1.7em;
        font-family: 'Saira', sans-serif;
        margin-bottom: 30px;
    }
    .features {
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .features__item {
        width: 100%;
        position: relative;
    }
    h2 {
        padding-top: 20%;
        font-family: 'Roboto', sans-serif;
    }
    .fetures__item__text {
        display: block;
        padding: 40px 30px 0 30px;
        font-family: 'Saira', sans-serif;
    }
}
