$main-font: 'Saria',
sans-serif;
$main2-font: 'Roboto',
sans-serif;
$main3-font: 'Sarpanch',
sans-serif;
$colorHoverButon: #faead680;
$colorFormInner: #cf974238;
$menuextend:#c9c9c94d;
$white: #ffffff;
$almostwithe: #f1f1f1;
$grey: #777777;
$grey2: #4D5739;
$yanose:#ffefd966;
$almostblack: #3b3b3b;
$green:#79993680;
$caja:#ffdcb180;
$blancotrasparentoso: #ffffff99;
$negrotrasparentoso:#000000b3;
$blackgreen:#112c0a33;
$blackergreen:#07160780;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url("../img/background.png");
    margin: 0;
}

header {
    padding: 0px 14px;
    background-color: $white;
    z-index: 10;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    padding-top: 30%;
    font-family: $main2-font;
}
.flex {
	display: flex 
}
.lader {
	width: 100% 
}
.menuR {
	display: none ;
    justify-content: right;
	padding: 30px ;
	width: 100% ;
}

.input {
    height: 30px;
    border: none;
    background-color: $colorFormInner;
    font-family: $main-font;
    font-size: 1.1em;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: right;

    &[type=text] {
        background-image: url(../img/search.png);
        padding: 20PX;
    }

    &[type=number] {
        padding: 10PX;
        width: 100px;
    }

    &[type=email] {
        padding: 10PX;
        width: 100%;
        margin-bottom: 30px;
    }
}
.flex{
    display: flex;
}
.menu {
    justify-content: right;
    flex-direction: column;
    width: 100%;

    &__top {
        align-items: center;
        justify-content: space-evenly;

        &__ul {
            width: 100%;
            justify-content: right;
            flex-direction: row;
            padding: 0;
            margin: 0;
            align-items: center;
        }

        &__buttons {
            width: 100%;
            align-items: center;
        }

        &__item {
            padding: 0 20px;

            &__:hover {
                background-color: #faead680;
                border-radius: 20px;
            }

            &__a {
                font-size: 0.9em;
                font-family: $main-font;
                background-color: transparent;
                border: none;
                align-items: center;
            }

            &__button {
                font-size: 1.1em;
                font-family: $main-font;
                background-color: $colorHoverButon;
                border-radius: 30%;
                border: none;
                padding: 0px 10px;
            }
        }
    }

    &__extend {
        display: none;
        position: absolute;
        background-color: $menuextend;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 6px 10px;
        left: 0;
        top: 57px;
        z-index: 10;

        &__item {
            padding: 10px 10px;
            font-size: 0.9em;

            &:hover {
                background-color: $colorHoverButon;
                border-radius: 20px;
            }
        }
    }

    &__bot {
        width: 100%;

        &__item {
            padding: 12px 20px;
            position: relative;

            &:hover {
                background-color: $colorHoverButon;
                border-radius: 20px;
            }

            &__a {
                font-size: 1.1em;
                font-family: $main-font;
                background-color: transparent;
                border: none;
            }
        }

        &__ul {
            justify-content: right;
            flex-direction: row;
            align-items: center;
        }
    }
}

input {
    height: 30px;
    border: none;
    background-color: $colorFormInner;
    font-family: $main-font;
    background-repeat: no-repeat;
    background-position: right;
    font-size: 1.1em;

    &[type=text] {
        padding: 20PX;
        border-radius: 40px;
    }

    &[type=number] {
        padding: 10PX;
        border-radius: 40px;
        width: 100px;
    }

    &[type=email] {
        padding: 10PX;
        border-radius: 40px;
        width: 100%;
        margin-bottom: 30px;
    }
}

.search {
    &__bar {
        padding: 10px 10px;
        height: 100%;
    }
}

.banner {
    width: 100%;
    flex-direction: column;
    position: relative;
}

.img {
    &__banner {
        z-index: 1;
        object-fit: fill;
        height: 730px;
    }

    &__feat {
        z-index: 1;
        height: 500px;
        width: 100%;
    }
}

.texto {
    position: absolute;
    z-index: 2;
    bottom: 70px;
    left: 120px;
}

.subtexto {
    &__banner {
        font-family: $main-font;
        color: $grey2;
        font-size: 2em;
    }
}

.features {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

    &__item {
        width: 33.3%;
        position: relative;

        &__text {
            padding: 40px 30px 0 30px;
            font-family: $main-font;
        }
    }
}

.info {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: $almostwithe;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    color: $white;
    font-size: 1.3em;
    padding: 0 0 0 0;
    text-align: center;

}

.disponibilidad {
    background-color: $green;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    &__title {
        font-family: $main3-font;
        font-size: 2.7em;
    }

    &_content {
        width: 100%;
        margin: 50px;
        justify-content: space-evenly;
    }
}

.disp {
    &__text {
        width: 30%;
        font-size: 1.7em;
        font-family: 'Saira', sans-serif;
    }

    &__margen {
        padding: 20px 20px;
    }

    &__cantidad {
        flex-direction: row;
        align-items: center;
        font-family: $main-font;
    }

    &__options {
        justify-content: center;
        flex-direction: column;
        align-items: center;

        &__button {
            font-size: 1.1em;
            font-family: $main-font;
            background-color: $colorHoverButon;
            border-radius: 10px;
            border: none;
            padding: 0px 10px;
            width: 30%;

            &__:hover {
                background-color: $caja;
                border-radius: 10px;
            }
        }
    }
}

.dispo {
    &__text {
        padding: 20px 0;
        font-family: $main-font;
    }

    &__title {
        margin-top: 10%;
        font-size: 1.4em;
    }
}

.mision {
    background-color: $blancotrasparentoso;
    width: 100%;
    padding: 30px 30px;
    justify-content: center;

    &__title {
        padding-top: 3%;
        font-family: $main-font;
        font-size: 2.5em;
        color: $negrotrasparentoso;
    }

    &__text {
        text-align: center;
        padding: 50px 130px;
        font-size: 1.4em;
        font-family: $main-font;
    }
}

.sub {
    &__mision {
        margin: 20px 0px;
        flex-direction: column;
        background-color: $colorHoverButon;
        border-radius: 10px;
        align-items: center;
        width: 50%;
    }
}

.title {
    &__product {
        background-color: $green;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px;

        &__text {
            padding: 0;
            font-family: $main-font;
            font-size: 4em;
            margin-bottom: 20px;
        }
    }
}

.product {
    background-color: $blackgreen;
    width: 60%;
    flex-wrap: wrap;
    flex-direction: column;
    height: 390px;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
}

.popular {
    &__item {
        margin: 20px 0;
        background-color: $blackergreen;
        width: 320px;
        border-radius: 20px;
        color: $white;
        font-size: 0.9em;
        font-family: $main-font;
    }
}




    .cert {
        padding: 30px;
        justify-content: center;
        font-size: 1em;
        font-family: $main-font;
        text-align: center;

    }
    .certificated {
        width: 100%;
        background-color: $yanose;
        flex-direction: column;
    
        &__logos {
            justify-content: center;
            &__img {
                padding: 10px 20px;
            }
        }

    }



.fot {
    &__text {
        padding: 6px;
        text-align: center;
    }
}

h3 {
    padding: 5% 0;
}

.features__item:hover .info {
    opacity: 1;
}

.menu__bot__item:hover>.menu__extend {
    display: block;
}

::placeholder {
    color: #000000;
    opacity: 0.6;
}

h2 {
    padding-top: 30%;
    font-family: $main2-font;

}

footer {
    background-color: $almostblack;
    color: $grey;
    padding: 60px 0;
}