* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../img/background.png");
  margin: 0;
}

header {
  padding: 0px 14px;
  background-color: #ffffff;
  z-index: 10;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lader {
  width: 100%;
}

.logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: 0px 35px;
}

.menuR {
  display: none;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding: 30px;
  width: 100%;
}

.menu {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__top__ul {
  height: 50px;
  width: 100%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__top__buttons {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__top__item {
  padding: 0 20px;
}

.menu__top__item:hover {
  background-color: #faead680;
  border-radius: 20px;
}

.menu__top__item__a {
  font-size: 0.9em;
  font-family: "Saria", sans-serif;
  background-color: transparent;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__top__item__b {
  font-size: 1.1em;
  font-family: "Saria", sans-serif;
  background-color: #faead680;
  border-radius: 30%;
  border: none;
  padding: 0px 10px;
}

.menu__extend {
  display: none;
  position: absolute;
  background-color: #c9c9c94d;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 6px 10px;
  left: 0;
  top: 47px;
  z-index: 10;
}

.menu__extend__item {
  padding: 10px 10px;
  font-size: 0.9em;
}

.menu__extend__item:hover {
  background-color: #faead680;
  border-radius: 20px;
}

.menu__bot {
  width: 100%;
}

.menu__bot__item {
  padding: 12px 20px;
  position: relative;
}

.menu__bot__item:hover {
  background-color: #faead680;
  border-radius: 20px;
}

.menu__bot__item__a {
  font-size: 1.1em;
  font-family: "Saria", sans-serif;
  background-color: transparent;
  border: none;
}

.menu__bot__item__b {
  font-size: 1.1em;
  font-family: 'Saira', sans-serif;
  background-color: transparent;
  border: none;
}

.menu__bot__ul {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__bot__item:hover > .menu__extend {
  display: block;
}

input {
  height: 30px;
  border: none;
  background-color: #cf974238;
  font-family: "Saria", sans-serif;
  background-repeat: no-repeat;
  background-position: right;
  font-size: 1.1em;
}

input[type=text] {
  padding: 20PX;
  border-radius: 40px;
}

input[type=number] {
  padding: 10PX;
  border-radius: 40px;
  width: 100px;
}

input[type=email] {
  padding: 10PX;
  border-radius: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.search__bar {
  padding: 10px 10px;
  height: 100%;
}

.barra {
  background-color: black;
  height: 1px;
}

select {
  height: 30px;
  border: none;
  background-color: #cf974238;
  font-family: "Saria", sans-serif;
  background-repeat: no-repeat;
  background-position: right;
  font-size: 1.1em;
  border-style: none;
}

.filter {
  padding: 30px 200px;
  height: 120px;
}

.filter__fondo {
  width: 100%;
  background-color: #ffffff80;
  border-radius: 40px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__fondo__filtrar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__fondo__filtrar__texto {
  font-family: "Sarpanch", sans-serif;
  font-size: 1.1em;
  padding-right: 20px;
}

.filter__fondo__ordenar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter__fondo__ordenar__texto {
  font-family: "Sarpanch", sans-serif;
  font-size: 1.1em;
  padding-right: 20px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px 100px;
}

.produck {
  width: 200px;
  display: block;
  background-color: #79993680;
  border-radius: 10px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  color: #07160780;
}

.produck__imag {
  width: 100%;
  height: 250px;
  -o-object-fit: fill;
     object-fit: fill;
}

.produck__info {
  padding: 10px;
}

.produck__name {
  margin: 5px 0;
  padding-top: 10%;
}

.produck__price {
  margin: 5px 0;
}

.produck__cart {
  margin-top: 20px;
  border: none;
  background-color: #cf974238;
  font-family: "Saria", sans-serif;
  font-size: 0.9em;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: right;
  padding: 10PX;
  width: 70%;
  color: #000000b3;
}

.produck__cart:hover {
  background-color: #b47a3727;
  border-radius: 20px;
}

#imge {
  width: 100%;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #ffffff;
}

.loader {
  border: 16px solid #ffffff;
  border-top: 16px solid #79993680;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=sass_catalogo.css.map */